download_data_from_prod:
  ftp:
    host: ...           # FTP host
    user: ...           # Username
    password: ...       # Password
    backups_pass: ...   # From where the zip is download

  containers:
    db:
      dest: ..          # Where the dump.sql is unziped
      mod: 0o775        # chmod dump.sql

    odoo:
      dest:             # Where the files are unziped
      mod: 0o775        # chmod files
      user: 104         # chown files
      group: 107        # chown files

  compose:
    metabase: ...       # metabase project path
    odoo: ...           # odoo project path
    db_cmds:            # List of commands to execute in db docker
    - dropdb -U odoo dbsas
    - createdb -U odoo dbsas
    - sh -c 'psql -U odoo -d dbsas < /var/lib/postgresql/data/dump.sql'
    - sh -c 'psql -U odoo -d dbsas -c "UPDATE ir_cron SET active = false;"'
    - vacuumdb -U odoo -a

update_meal_voucher_products:
  odoo:
    url: https://sas.lachouettecoop.fr  # ODOO URL
    db: ...                             # DB name
    user: ...                           # ODOO user
    password: ...                       # User password

customers_populate_from_ldap:
  ldap:
    url: ldap://ldap.mysite.com:389
    username: cn=login,dc=mysite,dc=com
    password: password
    dn: dc=mysite,dc=com
  odoo:
    url: https://sas.lachouettecoop.fr  # ODOO URL
    db: ...                             # DB name
    user: ...                           # ODOO user
    password: ...                       # User password
